.header {
  background-color: #000;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1112px;
    height: 140px;

    @include max(600) {
      height: 100px;
    }
    @include max(425) {
      height: 70px;
    }
  }
}

.header__logo {
  padding: 0 15px;
  img {
    display: block;
    max-width: 100%;
  }
}
