.header {
  background-color: #000;
  .container {
    display: flex;
    max-width: 1112px;
    justify-content: space-between;
    align-items: center;
    height: 140px;
  }
}
.header__logo{
  padding: 0 15px;
  img {
    display: block;
    max-width: 100%;
  }
}