//begin banner-section
.banner-section
  .container
    .banner
      img(src="assets/img/banner.jpg" alt="banner")
    .banner__footer
      h2.banner__title Ми вас почули!
      span.banner__subtitle
        |Розіграш призів відбудеться
        br
        |до 31 січня 2020 року.
//end banner-section