//begin form-section
.form-section
  .container
    //begin form-section__header
    header.form-section__header
      h2.form-section__title заРеєструйтесь, щоб виграти приз
    //end form-section__header

    //begin form-section__main
    .form-section__main
      .form-section__img
        img(src="assets/img/prize.png" alt="prize")
      //begin form-section__form
      .form-section__form.form
        form.form__form
          .form__header
            label.form-male
              input(type='radio' name='male')
              span.form-male__icon
                +svg('male')
                span.form-male__error
                  +svg('error')
            label.form-male
              input(type='radio' name='male')
              span.form-male__icon
                +svg('fem')
                span.form-male__error
                  +svg('error')

          input(placeholder='Ім’я *' required).form__input
          input(placeholder='Прiзвище *' required).form__input.error
          input(placeholder='+38 (0__) ___-__-__' required).form__input.phone-mask
          .form__labels
            label.form__label
              input(type='checkbox')
              span Я є абонентом ВОЛЯ *
                +svg('check')
            label.form__label
              input(type='checkbox')
              span
                |Я погоджуюся з
                =' '
                a(href="#") умовами акції *
                +svg('check')
            span.form__musthave * обов'язкове поле

          input(type='submit' value='Взяти участь').form__submit
      //end form-section__form
    //end form-section__main

    //begin form-section__footer
    footer.form-section__footer
      .form-section__footer-img
        img(src="assets/img/logo-volia-white.png" alt="volia")
      .form-section__footer-img
        img(src="assets/img/logo-discovery-white.png" alt="discovery")
      .form-section__footer-img
        img(src="assets/img/logo-tlc-white.png" alt="tlc")
    //end form-section__footer
//end form-section