//begin header
header.header
  .container
    .header__logo.header__logo--volia
      img(src="assets/img/logo-volia.png" alt="volia")
    .header__logo.header__logo--discovery
      img(src="assets/img/logo-discovery.png" alt="discovery")
    .header__logo.header__logo--tlc
      img(src="assets/img/logo-tlc.png" alt="tlc")
//end header