//begin header
header.header
  .container
    .header__logo
      img(src="assets/img/logo-volia.png" alt="volia")
    .header__logo
      img(src="assets/img/logo-discovery.png" alt="discovery")
    .header__logo
      img(src="assets/img/logo-tlc.png" alt="tlc")
//end header