//begin top-section
.top-section
  .container
    .top-section__item
      h2.top-section__title
        span.top-section__title--01 Що
        span.top-section__title--02 дивимось
        span.top-section__title--03 на
        span.top-section__title--02 свята?
      span.top-section__subtitle Голосуй за своє улюблене шоу та вигравай призи від ВОЛЯ!
      a(href="#slider-section").top-section__arrow.scroll
        .top-section__arrow-down
//end top-section