//begin top-section
.top-section
  .container
    .top-section__item
      h2.top-section__title
        |Що
        br
        |дивимось
        br
        |на
        br
        |свята?
      span.top-section__subtitle Голосуй за свое улюблене шоу та вигравай призи від ВОЛЯ!
      a(href="#slider-section").top-section__arrow.scroll
        .top-section__arrow-down

//end top-section