*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font;
  font-size: 18px;
  line-height: 1.38;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bold;
  font-weight: 400;
  margin: 0 0 10px 0;
}

p {
  margin: 0 0 10px 0;
  strong {
    font-family: $medium;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: #fff;
  border: 1px solid #fff;
  background: transparent;
  /* Chrome/Opera/Safari */
  &::-webkit-input-placeholder {
    opacity: 1;
    color: #fff !important;
  }
  /* Firefox 19+ */
  &::-moz-placeholder {
    opacity: 1;
    color: #fff !important;
  }
  /* IE 10+ */
  &:-ms-input-placeholder {
    opacity: 1;
    color: #fff !important;
  }
  /* Firefox 18- */
  &:-moz-placeholder {
    opacity: 1;
    color: #fff !important;
  }
}

textarea {
  resize: none;
}

input.error,
textarea.error {
  color: #d21998 !important;
  background: transparent !important;
  border: 2px solid #d21998 !important;
  font-size: 20px;
  &::-webkit-input-placeholder {
    color: #d21998 !important;
  }
  &::-moz-placeholder {
    color: #d21998 !important;
  }
  &:-ms-input-placeholder {
    color: #d21998 !important;
  }
  &:-moz-placeholder {
    color: #d21998 !important;
  }
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
