extends ../_template

block variables
  - var title       = ''
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

block content
  .main-wrap
    //begin content
    main.main
      include ../sections/form-section
    //end content