extends ../_template

block variables
  - var title       = ''
  - var description = ''
  - var ogtitle     = ''
  - var ogimage     = ''

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/top-section
      include ../sections/slider-section
    //end content